@model _9jaSoroSoke.Domain.Models.CompanyOwnerViewModel

@{
    ViewData["Title"] = "AddCompanyOwnerReport";
}

<h1>Add Company Owner Report</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form  enctype="multipart/form-data" asp-action="AddCompanyOwnerReport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyAddress" class="control-label"></label>
                <input asp-for="CompanyAddress" class="form-control" />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelDepotName" class="control-label"></label>
                <input asp-for="FuelDepotName" class="form-control" />
                <span asp-validation-for="FuelDepotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelDepotAddress" class="control-label"></label>
                <input asp-for="FuelDepotAddress" class="form-control" />
                <span asp-validation-for="FuelDepotAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhoneNumber" class="control-label"></label>
                <input asp-for="CompanyPhoneNumber" class="form-control" />
                <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePurchased" class="control-label"></label>
                <input asp-for="DatePurchased" class="form-control" />
                <span asp-validation-for="DatePurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img hidden src="" id="file" style="width: 100px; height: 100px;" />
                <label asp-for="PurchaseReciept" class="control-label"></label>
                <input type="file" required accept=".txt,.doc,.jpg ,.docx,.png" name="file" id="file" onchange="readImage(this)" />
                <span asp-validation-for="PurchaseReciept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script>
    function readImage(input) {
        if (input.files && input.files[0]) {
            if (input.files.size > 2e+6) {
                console.error('File is too large. Over 2MB');
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#file')
                    .removeAttr('hidden');
                $('#file')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);

        }
    }

</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
