@model _9jasorosoke.Interface.ILandingPageView
@{
    ViewData["Title"] = "Landing Page";
    Layout = null;
}

<head>

    <title>SỌRỌ SÓKÈ 9JA</title>

    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/tooplate-gymso-style.css" rel="stylesheet" />
    <style>
        .search {
            float: right;
            margin: 7px;
        }
    </style>
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">
   
    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="~/Home/LandingPage">SỌRỌ SÓKÈ 9JA</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Home</a>
                    </li>
                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        @Model.Message
                        <p class="text-white" data-aos="fade-up" data-aos-delay="500">@Model.Message</p>
                    }
                    <li class="nav-item">
                        <a href="#car" class="nav-link smoothScroll">Car Owners Reports</a>
                    </li>

                    <li class="nav-item">
                        <a href="#company" class="nav-link smoothScroll">Company Owners Reports</a>
                    </li>


                </ul>
            </div>

        </div>
    </nav>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="home"
             style=" background-image: url('../images/fuel-scarcity-nigeria.jpg'); ">

        <div class="bg-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-10 mx-auto col-12">
                    <div class="hero-text mt-5 text-center">
                        

                        <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Don't be silent anymore</h1>
                        <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Speak Up!!!!!</h1>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="feature" id="feature">
        <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-3 text-white" data-aos="fade-up">Are you a Car owner?</h2>

                    <h6 class="mb-4 text-white" data-aos="fade-up">Have you been a victim of purchase of contaminated fuel during this period of Scarcity of fuel? </h6>
                    <p class="mb-4 text-white" data-aos="fade-up">
                        Worry No more. The Department of Petroleum Resources (DPR), as the regulatory authority,
                        is concerned and seeks to compensate car owners and retrieve contaminated fuel from affected fueling stations across the country.
                    </p>
                    <p class="mb-4 text-white" data-aos="fade-up">
                        All you need to do is......................
                    </p>

                        <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" data-toggle="modal" data-target="#companyForm">Report Here</a>
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                    <div class="about-working-hours">
                        <div>

                            <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Do you owner a Fueling Station?</h2>
                            <h6 class="mb-4 text-white" data-aos="fade-up">Have you been a victim of purchase of contaminated fuel during this period of Scarcity of fuel? </h6>

                            <strong class="d-block" data-aos="fade-up" data-aos-delay="600">
                                Worry No more. Make your report to The Department of Petroleum Resources (DPR) now and help eradicate the produce and sale of contaminated fuel from depots.
                            </strong>

                           
                            <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" data-toggle="modal" data-target="#membershipForm">Report Here</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <div class="search">
        <form action="#">
            <input class="form-control" name="searchString" id="searchString" onkeyup="searchFunction()" placeholder="Search here..." required type="text">
        </form>
    </div>
    <br />



    <div id="list"></div>

    <div class="search">
        <form action="#">
            <input class="form-control" name="searchValue" id="searchValue" onkeyup="_searchFunction()" placeholder="Search here..." required type="text">
        </form>
    </div>
    <br />


    <div id="companylist">
    </div>


    <!-- FOOTER -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="ml-auto col-lg-4 col-md-5">
                    <p class="copyright-text">
                        Copyright &copy; 2022 SỌRỌ SÓKÈ 9JA.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">

                    <h2 class="modal-title" id="membershipFormLabel">Submit Your Report</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="membership-form webform" role="form" enctype="multipart/form-data" asp-controller="Home" asp-action="AddCompanyOwnerReport">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-6">
                                <input required type="text" class="form-control" name="companyName" placeholder="Company Name">
                            </div>
                            <div class="col-6">
                                <input required type="text" class="form-control" name="fuelDepotName" placeholder="Fuel Depot Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Date Purchased</label>
                                <input required type="date" class="txtDate form-control" id="date_picker" name="datePurchased" placeholder="Date Purchased" onclick="_date()">
                            </div>
                            <div class="col-6">
                                <label>Company Phone Number</label>
                                <input required type="text" class="form-control" name="companyPhoneNumber" placeholder="E.g 0802 000 0000">
                            </div>
                        </div>
                        <textarea class="form-control" rows="3" name="companyAddress" placeholder="Company Address"></textarea>
                        <textarea class="form-control" rows="3" name="fuelDepotAddress" placeholder="Fuel Depot Address"></textarea>
                        <div class="form-group">
                            <label class="control-label"> Upload Your Purchase Receipt</label>
                            <input type="file" required accept="image/png,image/gif,image/tiff,image/bmp,image/jpg,image/jpeg" id="_image" name="file" onchange="readFile(this)" />
                        </div>

                        <button type="submit" class="form-control" id="submit-button" name="submit">Submit</button>


                    </form>
                </div>

                <div class="modal-footer"></div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="companyForm" tabindex="-1" role="dialog" aria-labelledby="companyForm" aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">

                    <h2 class="modal-title" id="companyForm">Submit Your Report</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="membership-form webform" role="form" enctype="multipart/form-data" asp-controller="Home" asp-action="AddReport">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-6">
                                <input required type="text" class="form-control" name="firstName" placeholder="First Name">
                            </div>
                            <div class="col-6">
                                <input required type="text" class="form-control" name="lastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Date Purchased</label>
                                <input required type="date" class="txtDate form-control" id="_date" name="datePurchased" placeholder="Date Purchased" onclick="date()">
                            </div>
                            <div class="col-6">
                                <label>Phone Number</label>
                                <input required type="text" class="form-control" name="phoneNumber" placeholder="E.g 0802 000 0000">
                            </div>
                        </div>

                        <input required type="text" class="form-control" name="nameOfFuelingStation" placeholder="Name Of Fueling Station">


                        <textarea class="form-control" rows="3" name="purchaseLocation" placeholder="Purchase Location"></textarea>
                        <div class="form-group">
                            <label class="control-label"> Upload Your Purchase Receipt</label>
                            <input type="file" required accept="image/png,image/gif,image/tiff,image/bmp,image/jpg,image/jpeg" id="image" name="file" onchange="readImage(this)" />
                        </div>

                        <div class="form-group">
                            <label class="control-label"> Upload Proof of Ownership</label>
                            <input type="file" required accept="image/png,image/gif,image/tiff,image/bmp,image/jpg,image/jpeg" id="photo" name="file" onchange="readPhoto(this)" />
                        </div>

                        <button type="submit" class="form-control" id="submit-button" name="submit">Submit</button>


                    </form>
                </div>

                <div class="modal-footer"></div>

            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
        function _date() {
            var today = new Date();
            var day = String(today.getDate()).padStart(2, '0');
            var month = String(today.getMonth() + 1).padStart(2, '0');
            var year = today.getFullYear();

            var maxdate = year + '-' + month + '-' + day;
            $('#date_picker').attr('max', maxdate);
        }
    </script>
    <script>
        function date() {
            var today = new Date();
            var day = String(today.getDate()).padStart(2, '0');
            var month = String(today.getMonth() + 1).padStart(2, '0');
            var year = today.getFullYear();

            var maxdate = year + '-' + month + '-' + day;
            $('#_date').attr('max', maxdate);
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".loader").show();
            $.ajax({
                "type": "Get",
                "url": "/home/CarOwnersReports",
                success: (function (resp) {
                    $(".loader").hide();
                    $("#list").html(resp);

                }),
                error: (function (ex) {
                    $(".loader").hide();
                    alert("An error has occured");
                })
            });

            $.ajax({
                "type": "Get",
                "url": "/home/CompanyOwnersReports",
                success: (function (resp) {
                    $(".loader").hide();
                    $("#companylist").html(resp);

                }),
                error: (function (ex) {
                    $(".loader").hide();
                    alert("An error has occured");
                })
            });
        })
    </script>
    <script>
        function searchFunction() {
            var value = $("#searchString").val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        }
    </script>
    <script>
        function _searchFunction() {
            var value = $("#searchValue").val().toLowerCase();
            $("#table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        }
    </script>
    <script>
        function readImage(input) {
            if (typeof ($("#image")[0].files) != "undefined") {
                var size = parseFloat($("#image")[0].files[0].size / 1024).toFixed(2);
                console.log(size);
                if (size > 5120) {
                    alert('The Image size  : "' +
                        size +
                        '." is larger than maximum filesize allowed(5MB). Sorry!');

                }
            }
            else {
                alert("This browser does not support HTML5.");
            }
        }


    </script>
    <script>
        function readPhoto(input) {
            if (typeof ($("#photo")[0].files) != "undefined") {
                var size = parseFloat($("#photo")[0].files[0].size / 1024).toFixed(2);
                console.log(size);
                if (size > 5120) {
                    alert('The Image size  : "' +
                        size +
                        '." is larger than maximum filesize allowed(5MB). Sorry!');

                }
            }
            else {
                alert("This browser does not support HTML5.");
            }
        }


    </script>
    <script>
        function readFile(input) {
            if (typeof ($("#_image")[0].files) != "undefined") {
                var size = parseFloat($("#_image")[0].files[0].size / 1024).toFixed(2);
                console.log(size);
                if (size > 5120) {
                    alert('The Image size  : "' +
                        size +
                        '." is larger than maximum filesize allowed(5MB). Sorry!');

                }
            }
            else {
                alert("This browser does not support HTML5.");
            }
        }


    </script>


</body>
